@model MovieStoreMvc.Models.DTO.LoginModel
@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-image: url('/images/last.jpg');
        background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
        background-repeat: no-repeat; /* Empêche la répétition de l'image */
        margin: 0;
    }

    form {
        background-color: rgba(255, 255, 255,0.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        color:black;
    }
</style>
<form class="w-40" asp-action="Login" method="post">
    <h2 class="pb-10">Login</h2>
    <div class="input-container">
        <label asp-for="Username" class="w-40">Nom d'utilisateur</label>
        <input type="text" class="input" asp-for="Username">
    </div>
    <div class="message-box pd-x-28 error">
       <span asp-validation-for="Username"></span>
    </div>


    <div class="input-container">
        <label asp-for="Password" class="w-40">Mot de passe</label>
        <input type="password" class="input" asp-for="Password">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Password"></span>
    </div>
  

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
    </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Connexion</button>
        @*<a class="btn btn-sec" href="#">Add more</a>*@
    </div>
</form>
