@model MovieStoreMvc.Models.Domain.Genre
@{
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/images/last.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
    }

    form {
        background-color: rgba(255, 255, 255,0.5);
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    .input-container {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }

    .input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .message-box {
        color: #cc0000;
        font-size: 12px;
        margin-top: 5px;
    }

    .alert {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
        text-align: center;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        background-color: #007BFF;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-sec {
        background-color: #6c757d;
    }
</style>

<form class="w-40" asp-action="Update" method="post">
    <h2 class="pb-10">Modifier Genre</h2>
    <input type="hidden" class="input" asp-for="Id">

    <div class="input-container">
        <label asp-for="GenreName" class="w-40">Genre</label>
        <input type="text" class="input" asp-for="GenreName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="GenreName"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Enregistrer</button>
        <a class="btn btn-sec" href="/Genre/GenreList">Tous les enregistrements</a>
    </div>
</form>
