@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-image: url('/images/last.jpg');
        background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
        background-repeat: no-repeat; /* Empêche la répétition de l'image */
        margin: 0;
        color: white;
        text-align: center;
    }

    h2 {
        font-size: 2em; /* Ajuste la taille du titre */
        margin-bottom: 20px; /* Ajoute de l'espace sous le titre */
        color: white;
        font-family: 'Bookman, URW Bookman L, serif';
    }

    p {
        font-size: 1.2em; /* Ajuste la taille du texte du paragraphe */
        text-align: center; /* Justifie le texte pour une meilleure lisibilité */
        font-family: 'Bookman, URW Bookman L, serif';
        background-color: rgba(0, 0, 0,0.5);
        margin: auto; /* Ajout de cette ligne pour centraliser le paragraphe */
        max-width: 800px; /* Vous pouvez ajuster la largeur maximale selon vos préférences */
        padding: 20px; /* Ajout de la marge interne pour améliorer la lisibilité */
    }
</style>
<h2>À propos de cinéFilm</h2>
<p>
    Bienvenue sur cinéFilm, votre destination ultime pour une expérience cinématographique exceptionnelle.
    <br />
    Notre mission est de vous offrir une sélection diversifiée de films, allant des derniers succès aux classiques intemporels, et de rendre votre exploration cinématographique aussi simple que possible.
    <br />
    Explorez notre vaste collection, découvrez des chefs-d'œuvre qui ont marqué des générations, et profitez d'une interface conviviale offrant des informations complètes sur chaque film.
    <br />
    Chez cinéFilm, nous nous engageons à satisfaire vos envies cinématographiques et à améliorer constamment votre expérience.
    <br />
    Que vous soyez un cinéphile passionné ou un amateur occasionnel, rejoignez notre communauté pour un voyage cinématographique inoubliable
</p>
